h2 {
  color: #a10022;
  font-family: 'PT Sans', sans-serif;
  font-size: 6em;
  text-transform: uppercase;
  text-align: center;c
}
@import url("https://fonts.googleapis.com/css?family=PT+Sans");
